/* My Colors */
$clr-1: #00A1FF;
$clr-2: #8DE971;
$clr-3: #FFCD8A;
$clr-4: #FF7CD6;
$clr-5: #E65F5C;

$theme-colors:(
	"clr-1":$clr-1,
	"clr-2":$clr-2,
	"clr-3":$clr-3,
	"clr-4":$clr-4,
	"clr-5":$clr-5
);

$link-color: $clr-5; 

/* Bootstrap */
@import '../../node_modules/bootstrap/scss/bootstrap';

/* Material Icons by Google*/
.material-icons{
	vertical-align: bottom !important;
}
.back-to-top{
	display: none;
	position: fixed;
	bottom: 1rem;
	right:1rem;
	z-index: 99;
	i{
		font-size: 1.5rem;
	}
}